In [33]:
import pandas as pd
from dataclasses import dataclass

In [34]:
df = pd.read_excel('stable_coin_daily_2021-2022.xlsx')

In [35]:
df

    asset       time  ReferenceRate
0    usdt 2021-01-01       1.001110
1    usdt 2021-01-02       1.002361
2    usdt 2021-01-03       1.000794
3    usdt 2021-01-04       1.001375
4    usdt 2021-01-05       1.000788
..    ...        ...            ...
725  usdt 2022-12-27       0.999778
726  usdt 2022-12-28       0.999574
727  usdt 2022-12-29       0.999487
728  usdt 2022-12-30       0.999542
729  usdt 2022-12-31       0.999495

[730 rows x 3 columns]

In [36]:
@dataclass
class Coin:
    asset: str
    time: str
    rate: float

In [37]:
# Remove timezone from DataFrame for excel export
df['time'] = df['time'].dt.tz_localize(None)

In [42]:
df['time'] = df['time'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))

In [44]:
coins = []
for index, row in df.iterrows():
    coins.append(Coin(row['asset'], row['time'], row['ReferenceRate']))

In [45]:
import json

data = {'coins': [obj.__dict__ for obj in coins]}

with open("coin_data.json", "w") as f:
    json.dump(data, f, indent=4)